@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@font-face {
  font-family: "Perpetua";
  src: url("./font/perpetua.ttf") format("truetype");
}

.fontstyle-1 {
  font-family: "Roboto Serif", serif;
}
.fontstyle-2 {
  font-family: "DM Sans", serif;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.pra {
  text-align: justify;
  text-justify: inter-word;
}

.backgroundImage {
  background-image: url(../public/Images/backgroundImage.png);
  background-position: center;
  background-size: 1100px;
}
.welcome-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  z-index: 1000;
}

.main-content {
  padding: 20px;
}
.netflix-animation {
  animation: zoomInFade 2s ease-in-out forwards;
  opacity: 0; /* Start invisible */
}

@keyframes zoomInFade {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.image-cover {
  object-fit: contain;
}

/* //flip-card */

.flip-card {
  perspective: 1000px;
  cursor: pointer;
}

.flip-card-inner {
  transition: transform 0.6s;

  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  backface-visibility: hidden;
  border-radius: 10px;
}

.flip-card-front {
  display: flex;
  align-items: center;
}

.flip-card-back {
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Modal Styles */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  background-color: transparent;

  border-radius: 8px;
  outline: none;
  padding: 20px;
  z-index: 1000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

.border-circle {
  border-radius: 50%;
}

/* Custom class to remove spinner */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}
.daySchedule.modal {
  position: fixed;
  left: 50%;
  top: 50%;
}
